.todos {
  top: 100px;
  width: 600px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todos:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.new-todo-input {
  width: 100%;
  font-size: 24px;
  border: none;
  padding: 10px 0 10px 35px;
}

.new-todo-input:focus {
  outline: none;
}

.new-todo-input::placeholder {
  opacity: .5;
}

.todo {
  display: flex;
  align-items: center;
  word-break: break-all;
  padding-top: 0;
  padding-bottom: 0;
}

.todo.editing .todo-checkbox, .todo.editing .delete-button-wrapper {
  visibility: hidden;
}


.todo .delete-button-wrapper {
  margin-left: 10px;
  flex: 1;
  text-align: right;
}

.todo .delete-button {
  opacity: 0;
  transition: .1s opacity;
}

.todo:hover .delete-button {
  opacity: .4;
}

.edit-todo-input {
  width: 100%;
  border: none;
  padding: 1em 10px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 1px;
  resize: none;
  background: white;
}

.edit-todo-input:focus {
  outline: none;
}

.todo.editing .edit-todo-input {
  outline: none;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, .7);
  z-index: 500;
}

.dark-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  z-index: -1;
  transition: .2s opacity;
}

.todo.editing ~ .dark-bg {
  opacity: .3;
  z-index: 200;
}

.todo.completed .edit-todo-input {
  text-decoration: line-through;
  opacity: .5;
}
